.flat-label {
  cursor: pointer;
}

input,
textarea,
.form-control {
  font-family: $font-proximanova, Helvetica, Arial, sans-serif;
  border: 1px solid $clear-grey-color;
  color: $light-grey-color;
  padding: 10px;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
  font-size: 14px;
  &:focus,
  &:hover {
    border-color: $lightblue-color;
    color: $mid-grey-color;
    outline: none;
  }
  &:disabled, &.disabled {
    &, &:hover {
      color: #afafaf;
      background-color:#f9f9f9;
      border-color: $clear-grey-color;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}
input[type=text],
input[type=password] {
  height: 40px;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-color: $lightblue-color;
}

textarea {
  resize: none;
}


.form-control {
  width: 100%;
}
.form-group {
  margin-bottom: 15px;
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
}
.form-group.required label {
  position: relative;
  width: 100%;
  &:after {
    content: "*";
    color: $red-color;
    position: absolute;
    right: 0;
  }
}

.has-feedback label ~ .form-control-feedback {
  top: 32px;
}
