//  Brand colors
//  ------------------------

$black-color: #666;
$lightblack-color: #323232;
$lightblue-color: #00aeef;
$darkblue-color: #25408f;
$lightgrey-color: #e5e5e5;
$bggrey-color: #f1f4f9;

$limegreen-color: #a0be17;
$red-color: #e94d23;
$purple-color: #815fa5;
$yellow-color: #fee433;
$orange-color: #f08000;

$color-teacher: #5474d3;
$color-user: #26bbef;

//  Greys&Blacks
//  ------------------------

$off-black-color: #333;
$dark-grey-color: #555;
$mid-grey-color: #777;
$light-grey-color: #999;
$clear-grey-color: #ececec;

//  Marketing
//  ------------------------

$color-marketing-blue: #00afec;
$color-marketing-red: #ee5a39;
$color-marketing-green: #a0bd2f;
$color-marketing-yellow: #ffe52c;
$color-marketing-purple: #7b65a9;

//  Dark work view colors
//  ------------------------

$black-blue-color: #232a3b;
$medium-blue-color: #425174;
$clear-blue-color: #8da2d0;
$grey-blue-color: #a0b6e7;
$lightgrey-blue-color: #63749c;
$darkgrey-blue-color: #55658b;
$petrol-blue-color: #3b4a6d;

//  Social color
//  ------------------------
$color-facebook: #293782;
$color-twitter: #009fe3;
$color-google: #fd4a34;
$color-o365: #e4401a;
