$font-proximanova: "proxima-nova-alt";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font: normal 14px/17px $font-proximanova, Helvetica, Arial, sans-serif;
  color: $dark-grey-color;
}

a {
  color: $lightblue-color;
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
